.bookInfo{
    padding: 10px 60px;
    margin:20px 0;
    border-bottom: 1px solid #fafafa;
    background-color: silver;
    border-radius: 2rem;
    border: solid lightgray 2px;
}

.bookInfo:hover {
    box-shadow: 1px 3px 5px rgba(0,0,0,0.3);
}

.bookInfo h2 {
    font-size: 20px;
    color: #f1356d;
    margin-bottom: 8px;
}

.Container{
    border: solid black 10px;
    border-radius: 2rem;
    background-color: darkgrey;
}